---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { DESCRIPTION, SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="pt-14">
      <h1>Oops, not found</h1>
      <div>
        <a href="/learning-ruby-on-rails/">Go to index</a>
      </div>
    </main>
    <Footer />
  </Body>
</html>
