---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 >Oops, not found</h1>
  <div class="pt-5">
    <a class="hover:underline hover:text-red-700 text-lg font-medium" href="/learning-ruby-on-rails/">Go to index</a>
  </div>
</BaseLayout>
