---
import RubyOnRailsIcon from "./icons/rubyonrails";
---

<header class="fixed p-2 pt-3 backdrop-blur-lg">
  <nav class="flex items-center gap-3 text-base">
    <RubyOnRailsIcon />
    <a href="/learning-ruby-on-rails/" '> Learning Ruby on Rails</a>
    <div class="flex items-center gap-3">
      <a href="/learning-ruby-on-rails/path">Path</a>
      <a href="/learning-ruby-on-rails/topics">Topics</a>
    </div>
  </nav>
</header>
