---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Projects">
  <h1 class="text-2xl font-bold">Projects</h1>
  <hr class="my-4">
  <ol class="pl-4 list-decimal">
    <li>Project 1</li>
    <li>Project 2</li>
    <li>Project 3</li>
  </ol>
</BaseLayout>