---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { DESCRIPTION, SITE_TITLE } from "../config";

const { pageTitle } = Astro.props;
const title = pageTitle !== undefined ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE;

---

<!DOCTYPE html>
<html lang="en" class="bg-ruby-on-rails">
  <head>
    <BaseHead title={title} description={DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="pt-16 p-4">
      <slot />
    </main>
    <Footer />
  </Body>
</html>
